<.simple_form :let={f} for={:name_form} id="template-form" phx-submit="template">
      <.custom_input name="name" field={{f, :first_name}} type="text"   value={} label="Template Name"/>
      <.button>Add Template</.button>
</.simple_form>



