<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Mmbooking" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
<.navbar  current_user={@current_user}>
</.navbar>
 <div class="flex">
     <div class="bg-orange-300 w-1/5 min-h-screen">
    <%= if @current_user.role == "Super admin" do%>
    <div class="text-white font-bold flex justify-center my-6">
      <div class="flex flex-col space-y-4">
      <.link patch={~p"/users"} phx-click={JS.push_focus()}>
        User
      </.link>
      <.link patch={~p"/sessions"} phx-click={JS.push_focus()}>
        sessions Templates
      </.link>

      <.link patch={~p"/booking_window_setup"} phx-click={JS.push_focus()}>
      Booking Window Setup
      </.link>
      </div>
    </div>
    <% end %>
    </div>
   


    <div>
      <%= @inner_content %>
    </div>
  </div>
  </body>
</html>
