<.table
  id="lists"
  rows={@lists}>
  <:col :let={list} label="Session Number">
  <tr>
    <td>
    <%= Enum.map(List.first(list.mondy), fn i -> %>
    <tbody>
    <tr>
      <td><%= i %></td>
      
    </tr>
  </tbody>
    <% end) %>
  </td>
 </tr>
  </:col>

</.table>

